.header {
  background-color: var(--badges);
  padding: 26px 0;
}
.headerConteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background-image: url("../../public/Logo.svg");
  width: 104px;
  height: 16px;
}
.navigation {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  gap: 32px;
}
.navigationItemColor {
  color: var(--button-hover);
}
