.hero {
  width: 100%;
  background-image: url("../../public/Hero/Picture.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  box-sizing: border-box;
  padding-top: 430px;
  color: var(--white);
}

.contentContainer {
  text-align: center;
}
.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
}
.text {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-top: 10px;
  margin-bottom: 40px;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: url("../../public/Hero/Picture@2x.png");
  }
}
