:root {
  --white: #ffffff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray-light: #dadde1;
  --button-hover: #0b44cd;
  --button: #3470ff;
  --gray: #8e929a;
  --main: #101828;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-manrope);
}

body {
  background-color: var(--white);
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

/* body.dark-theme {
  --white: #000000;
  --black: #ffffff;
  --royal-blue: #ffffff;
  --royal-blue-lighter: #7f7f7f;
  --royal-blue-light: #4c4c4c;
  --royal-blue-darker: #7a96ea;
} */

body:has(.mobile-menu.is-open) {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
}

/* З 375px — адаптивна мобільна верстка */
.wrapper {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

/* З 768px — планшет */
@media (min-width: 768px) {
  .wrapper {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* З 1440px — десктоп */
@media (min-width: 1440px) {
  .wrapper {
    max-width: 1440px;
    padding: 0 60px;
  }
}
