.filterContainer {
  margin: auto;
  max-width: 924px;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.label {
  color: var(--gray);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  background: #f7f7f7;
  padding: 10px 12px;
  gap: 8px;
  width: 160px;
}

.prefix {
  font-size: 16px;
  color: #111;
  white-space: nowrap;
}

.input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  color: #111;
  width: 100%;
}
.inputContainer {
  display: flex;
}
.inputWrapperLeft {
  border-radius: 12px 0 0 12px;
  border-right: 1px solid var(--gray-light);
}
.inputWrapperRight {
  border-radius: 0 12px 12px 0;
}
.submitButton {
  margin: 0;
  border: none;
  width: 156px;
}
