.container {
  max-width: 204px;
}
.upper {
  color: var(--gray);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
}

.trigger {
  padding: 8px 14px;
  border-radius: 12px;
  background: var(--inputs);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  font-weight: 400;
}
.arrow {
  fill: black;
  transition: transform 0.25s ease;
}

.trigger[data-state="open"] .arrow {
  transform: rotate(180deg);
}

.content {
  background: white;
  border: none;
  border-radius: 6px;
  padding: 6px 0;
  min-width: 150px;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.02);
  margin-top: 4px;
  font-weight: 400;
}

.item {
  padding: 8px 14px;
  cursor: pointer;
  color: var(--gray);
}

.item:hover {
  background: #eee;
  border: none;
}
.selected {
  color: var(--black);
}

/* Стилізація скролбару */
.content::-webkit-scrollbar {
  width: 11px;
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--gray-light);
  border-radius: 10px;
  border: 3px solid var(--white);
}
